{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags%}
{% block content %}
<div class="container">
    <p></p>
    <div class="card">
        <div class="card-body">
          <h4 class="card-title">{{ page.class_name }}</h4>
          <h6 class="card-subtitle mb-2">{{ page.description|richtext }}</h6>
          <b>Students List:</b>
          <ul class="list-group list-group-flush">
              {% for student in page.get_children %}
              <!-- just making sure that this is a student page -->
              {% if student.specific.first_name %} 
              <a href="{% pageurl student %}">
                  <li class="list-group-item">
                      <div class="row">
                          <div class="col-lg-3 col-md-6">
                              {{ student.specific.first_name }} {{ student.specific.last_name }}
                            </div>
                            {% if student.specific.image %}
                            <div class="col">
                                {% image student.specific.image fill-50x50 style="border-radius: 50%;" %}
                            </div>
                        </div>
                    </li>
                </a>
                            {% endif %}
                {% endif %}
              {% endfor %}
          </ul>
        </div>
      </div>
</div>
{% endblock content %}